<%= form_for [restaurant, booking] do |f| %>
  <p>
    <%= f.label :day, "Date" %>
    <%= f.date_select :day %>
  </p>
  <p>
    <%= f.label (:time) %>
    <%= f.number_field :time %>
  </p>
  <p>
    <%= f.label :n_people, "How many people?" %>
    <%= f.number_field :n_people %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
