<p><%= booking.errors.messages[:n_people][0] %></p>

<%= form_for [restaurant, booking] do |f| %>
  <p>
    <%= f.label :day, "Date" %>
    <%= f.date_select :day %>
  </p>
  <p>
    <%= f.label (:time) %>
    <%= f.select :time, options_for_select(
      restaurant.open_time.localtime.hour..restaurant.close_time.localtime.hour) %>
  </p>
  <p>
    <%= f.label :n_people, "How many people?" %>
    <%= f.number_field :n_people %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
