<h1><%= @user.email %>'s reservations</h1>

<h2>You currently have <%= pluralize @bookings.count, "booking" %>!</h2>

<ul>
  <% @bookings.each do |booking| %>
    <li>A table for <%= booking.n_people %> seats at <%= link_to booking.restaurant.name, restaurant_path(booking.restaurant) %> for <%= time_to_am_pm(booking.time) %>  on <%= booking.day.strftime("%B %d, %Y") %></li>
  <% end %>
</ul>
