<%= form_for @user, url: users_url(@user) do |f|%>
<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <%= f.submit %>
<% end %>
