<h1>Create a New User</h1>

<%= form_for @user do |f| %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    Are you a:
    <%= radio_button_tag(:kind, "owner") %>
    <%= label_tag(:kind_owner, "Restaurant Owner") %>
    <%= radio_button_tag(:kind, "customer") %>
    <%= label_tag(:kind_customer, "Customer") %>
  </p>

  <%= f.submit 'Sign Up' %>

<% end %>
