<h1>Create a New User</h1>

<%= form_for @user do |f| %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    Are you a:
    <input type="radio" id="owner" name="user_kind" value="owner" />
    <label for="owner">Restaurant Owner</label>

    <input type="radio" id="customer" name="user_kind" value="customer" />
    <label for="customer">Customer</label>
  </p>

  <%= f.submit 'Sign Up' %>

<% end %>
