<h1>Welcome <%= current_user.email %>!</h1>

<% if current_user.kind == "owner" %>
  <h2>Restaurant: <%= current_user.restaurant.name %></h2>
  <h3>Max Capacity: <%= current_user.restaurant.capacity %></h3>

  <h4>Upcoming reservations for <%= current_user.restaurant.name %>:</h4>

  <ul>
    <% @bookings.each do |booking| %>
      <li><%= booking.day.strftime("%a, %B %d") %> | <%= time_to_am_pm(booking.time) %> | Party Size: <%= booking.n_people %> for <%= booking.user.email %></li>
    <% end %>
  </ul>

  <h4>Customers By Loyalty</h4>
    <ul>
      <% @loyalty.each do |key, value| %>
        <li><%= key %> | Points: <%= value %></li>
      <% end %>
    </ul>
<% end %>

<h2>You currently have <%= current_user.loyalty_points %> loyalty points!</h2>
