
<div class="row">
	<div class=" col-sm-2">
		<span class="profile-name"><%= @user.name.capitalize%></span>
	</div>
	<div class="col-sm-2 vertical">
		<%= link_to("Edit Profile", edit_users_path, :class => "btn btn-success")%>
	</div>
</div>


 

<h3>Reservations</h3>
<%= link_to "Make a Reservation", new_users_reservation_path %>


<% reservations = Reservation.where( user_id: @user.id) %>
<ul>
<% reservations.each do |reservation| %>
<p>
	<%= "You have a reservation at #{reservation.restaurant.name} on #{reservation.date_time.strftime("%A, %B %-d at %l:%M %P")} for #{reservation.party_size} people" %>
	<br>
	<%= link_to("Edit", edit_users_reservation_url(reservation.id) )%>
	| <%= link_to("Delete", users_reservation_url(reservation.id), method: :delete, data: {confirm: "Are you sure?"}) %>
</p>
</li>
<%end %>
</ul>
