<%= link_to("Edit Profile", edit_users_path)%> | <%= link_to "Make a Reservation", new_users_reservation_path %>


<h2>Upcoming Reservations</h2>



<% reservations = Reservation.where( user_id: @user.id) %>
<ul>
<% reservations.each do |reservation| %>

<li><%= "You have a reservation at #{Restaurant.find_by(id: reservation.restaurant_id).name} on #{reservation.date_time.strftime("%A, %B %-d at %l:%M %P")} for #{reservation.party_size} people" %>  | <%= link_to("Edit", edit_users_reservation_url(reservation.id) ) %>  </li>
<%end %>
</ul>

<h3>Restaurants</h3>
<% @restaurants.each do |current_restaurant| %>
	<%= render 'restaurants/single_restaurant', restaurant: current_restaurant %>
<% end %>
<%= link_to("New Restaurant", new_restaurant_path)%>
