<h1>Your Reservations</h1>

<% @resos.each do |reso| %>
  <h2>Name: <%= reso.restaurant.name %></h2>
  <p>Date: <%= reso.date %></p>
  <p>Time: <%= reso.time %></p>
  <p>Party-size: <%= reso.partysize %></p>
<% end %>

  <% if @user.owner %>
    <h1>Your Restaurant's Reservations</h1>
    <% @user_restaurants.each do |restaurant| %>
      <h2><%= restaurant.name %></h2>
        <% restaurant.reservations.each do |reservation| %>
          <p>Date: <%= reservation.date %></p>
          <p>Time: <%= reservation.time %></p>
          <p>Name: <%= reservation.user.email %> </p>
          <p>Party size: <%= reservation.partysize %></p>
          <%= link_to "Cancel Reservation", restaurant_reservation_url(restaurant, reservation), method: :delete %>
        <% end %>
    <% end %>

  <% end %>
