  <%= form_for([@restaurant, @reservation]) do |f| %>
    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being made:</h3>

        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :number_of_people %><br />
      <%= f.number_field :number_of_people %>
    </div>
    <div class="field">
      <%= f.label :hour %><br />
      <%= f.number_field :hour %>
    </div>      
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>