<% if reservation.errors.any? %>
   <div id="error_explanation">
     <p><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</p>
     <ul>
     <% reservation.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
<% end %>
<%= form_for ([restaurant, reservation]) do |f| %>
  <p>
    <%= f.label :date %><br/>
    <%= f.date_field :date %>
  </p>
    <p>
    <%= f.label :time %><br/>
    <%= f.number_field :time %><br/>
  </p>
  <p>
    <%= f.label :party_size %><br/>
    <%= f.number_field :party_size %><br/>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
