
<%= form_for reservation do |f| %>

  <!-- <%= a_restaurant.id %> -->

  <%= f.hidden_field(:restaurant_id, :value => a_restaurant.id) %>

  <h3><%= f.label :time %> <%= f.time_select :time, discard_minute: true %></h3>

  <h3><%= f.label :date %> <%= f.date_field :date %></h3>

  <h3><%= f.submit %></h3>

<% end %>
