<%= form_for ([restaurant, reservation]) do |f| %>
  <p>
    <%= f.label :date %><br/>
    <%= f.date_field :date %>
  </p>
    <p>
    <%= f.label :time %><br/>
    <%= f.number_field :time %><br/>
  </p>
  <p>
    <%= f.label :party_size %><br/>
    <%= f.number_field :party_size %><br/>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
