<%=form_for(@reservation) do |f| %>
    <% if @reservation.errors.any? %>
      <div class="error_msg">
        <h2>Form is Invalid</h2>
        <ul>
          <% @reservation.errors.full_message.each do |message| %>
            <li><%=message%></li>
          <%end%>
        </ul>
      </div>
    <%end%>
  <div class="field">
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :instructions %>
    <%= f.text_area :instructions %>
  </div>

  <div class="submit">
      <%=f.submit "Make Reservation"%>
  </div>
<%end%>
