<div class="reservation">
  <h3>Reservation: <%= reservation.name %></h3>
  <%= link_to reservation.name, reservation_path(reservation) %>
  <%= reservation.date %><br>
  <%= reservation.time %><br>
  <%= reservation.party_size %><br>
</div>
