<h1> Edit Your Reservation </h1>

<%= form_for([@user, @reservation], url: users_reservation_path)  do |f|%>
  <%= f.label :Restaurant %>
  <%= f.collection_select :restaurant_id, @restaurants, :id, :name, prompt:true %>
	<%= f.label :party_size %>
	<%= f.text_field :party_size%>
  <%= f.label :Reservation_date  %>
  <%= f.datetime_select :date_time,
  :start_year => Date.current.year,
  :end_year => Date.current.year + 1,
  :default => Time.now,
  :ampm => true,
  :minute_step =>15 %>
<%= f.submit %>
<% end %>
