  <h1>Your Restaurant's Reservations</h1>
  <% if @resos.length > 0 %>
    <% @resos.each do |reservation| %>
        <p>Date: <%= reservation.date %></p>
        <p>Time: <%= reservation.time %></p>
        <p>Name: <%= reservation.user.first_name.capitalize %> <%= reservation.user.last_name.capitalize %> </p>
        <p>Party size: <%= reservation.partysize %></p>
        <%= link_to "Cancel Reservation", reservation_url(reservation), method: :delete %>
    <% end %>
    <% else %>
      <h3>No Reservations Made</h3>
    <% end %>
