<h1>Reservations at <%= @restaurant.name %></h1>
<% @reservations.each do |reservation| %>
  <p><%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
  <p><%= reservation.date.strftime("%B %d, %Y") %></p>
  <p><%= reservation.time.strftime("%l:%M %p") %></p>
  <p><%= reservation.party_size %>
<% end %>
