<h1>Book A Reservation</h1>
 You are signed is as.. : <%=current_user.first_name %> <%= current_user.last_name %>
<%= form_for [@restaurant, @reservation] do |f| %>
<p>
<%=f.label :date %><br>
<%=f.date_select :date  %><br>
</p>
<p>
<%=f.label :time %><br>
<%=f.time_field :time,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss'
  %> <br>
</p>

<p>
<%=f.label :party_size %><br>
<%=f.number_field :party_size %><br>
</p>

<p>
   <%= f.submit "Save" %>
 </p>

 <% end %>
