<h1>Reservations#new</h1>
<p>Find me in app/views/reservations/new.html.erb</p>
<%= form_for @reservation do |f| %>
<div>
  <%= f.label :party_size %>
  <%= f.text_field :party_size %>
</div>
<div>
  <%= f.label :time %>
  <%= f.select :time, options_for_select(@restaurant.opening_times(@restaurant.opening,  @restaurant.closing)) %>
</div>
<div>
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>
<%= f.submit "Make My Reservation Happen, Brutha From Another Mutha!" %>
<% end %>
