
<h2>Confirmation Page</h2>

<section>
<h1>Confirm Reservation</h1>

<p><%="Reservation booked for: #{@reservation.user.first_name} #{@reservation.user.last_name}" %></p>
<p><%="Phone number: #{@reservation.user.phone_number}" %></p>
<p><%="Email: #{@reservation.user.email}"%></p>
<p><%="Reservation Time: #{@reservation.time}"%></p>
<p><%="Reservation Date: #{@reservation.date}"%></p>
<p><%="Reservation Party Size: #{@reservation.party_size}"%></p>
<p><%=link_to "To Edit Reservation",edit_restaurant_reservation_path(@restaurant, @reservation)%></p>
</section>
