<%=form_for restaurant do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :opening_time %><br>
    <%= f.time_field :open %>
  </p>
  <p>
    <%= f.label :closing_time %><br>
    <%= f.time_field :close %>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :neighbourhood %>
    <%= f.select(:neighbourhood, [['Downtown', 'Downtown'], ['Uptown','Uptown']]) %>
  </p>

  <p>
    <%= f.label :cuisine %><br>
    <%= f.text_field :cuisine %>
  </p>
 
  <p>
    Price Range </br>
    <%= f.radio_button(:price_range, 1) %>
    <%= f.label(:price_range, "$") %>
    <%= f.radio_button(:price_range, 2) %>
    <%= f.label(:price_range, "$$") %>
    <%= f.radio_button(:price_range, 3) %>
    <%= f.label(:price_range, "$$$") %>
  </p>
  <p>
    <%= f.label :main_picture,"Profile Photo"%><br>
    <%= f.file_field :main_picture%>
  </p>
  <p>
    <%= f.label :uploads,"Menu Photos"%><br>
    <%= f.file_field :uploads, multiple: true%>
  </p>
  <p>
     <%= f.submit "Save" %>
   </p>
 <% end %>
