<%= form_for restaurant do |f| %>
<% if restaurant.errors.any? %>
   <div id="error_explanation">
     <p><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</p>
     <ul>
     <% restaurant.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
<% end %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :mon_open_from %>
    <%= f.number_field :mon_open_from %>
    <%= f.label :mon_open_until %>
    <%= f.number_field :mon_open_until %>
    <br/>
    <%= f.label :tues_open_from %>
    <%= f.number_field :tues_open_from %>
    <%= f.label :tues_open_until %>
    <%= f.number_field :tues_open_until %>
    <br/>
    <%= f.label :wed_open_from %>
    <%= f.number_field :wed_open_from %>
    <%= f.label :wed_open_until %>
    <%= f.number_field :wed_open_until %>
    <br/>
    <%= f.label :thurs_open_from %>
    <%= f.number_field :thurs_open_from %>
    <%= f.label :thurs_open_until %>
    <%= f.number_field :thurs_open_until %>
    <br/>
    <%= f.label :fri_open_from %>
    <%= f.number_field :fri_open_from %>
    <%= f.label :fri_open_until %>
    <%= f.number_field :fri_open_until %>
    <br/>
    <%= f.label :sat_open_from %>
    <%= f.number_field :sat_open_from %>
    <%= f.label :sat_open_until %>
    <%= f.number_field :sat_open_until %>
    <br/>
    <%= f.label :sun_open_from %>
    <%= f.number_field :sun_open_from %>
    <%= f.label :sun_open_until %>
    <%= f.number_field :sun_open_until %>
  </p>
  <p>
    <%= f.label :capacity %><br/>
    <%= f.number_field :capacity %>
  </p>
  <p>
    <%= f.label :max_reservation_size %><br/>
    <%= f.number_field :max_reservation_size %>
  </p>
  <p>
    <%= f.label :price_range %><br/>
    <%= f.number_field :price_range %>
  </p>
  <p>
    <%= f.label :summary %><br/>
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.label :address %><br/>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :neighbourhood %><br/>
    <%= f.text_field :neighbourhood %>
  </p>
  <p>
    <%= f.label :category %><br/>
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
