<%= form_for restaurant do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_area :address %>
  </p>

  <p>
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
  </p>

  <p>
    <%= f.label :open_time %>
    <%= f.time_field :open_time, :ignore_date => true %>
    <!-- need to change time_field to select -->
  </p>

  <p>
    <%= f.label :close_time %>
    <%= f.time_field :close_time, :ignore_date => true %>
    <!-- need to change time_field to select -->
  </p>

  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>
