<%= form_for restaurant do |f| %>
<% if restaurant.errors.any? %>
   <div id="error_explanation">
     <p><%= pluralize(restaurant.errors.count, "error") %> prohibited this review from being saved:</p>

     <ul>
     <% restaurant.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
<% end %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :open_from %><br/>
    <%= f.datetime_select( :open_from, :discard_minute => true, :discard_year => true, :discard_month => true, :discard_day => true) %>
  </p>
  <p>
    <%= f.label :open_until %><br/>
    <%= f.datetime_select( :open_until, :discard_minute => true, :discard_year => true, :discard_month => true, :discard_day => true) %>
  </p>
  <p>
    <%= f.label :capacity %><br/>
    <%= f.number_field :capacity %>
  </p>
  <p>
    <%= f.label :max_reservation_size %><br/>
    <%= f.number_field :max_reservation_size %>
  </p>
  <p>
    <%= f.label :price_range %><br/>
    <%= f.number_field :price_range %>
  </p>
  <p>
    <%= f.label :summary %><br/>
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.label :address %><br/>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :neighbourhood %><br/>
    <%= f.text_field :neighbourhood %>
  </p>
  <p>
    <%= f.label :category %><br/>
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
