<p><%= restaurant.name %></p>
<p>Category: <%= restaurant.category %></p>
<p>Price range: <%= restaurant.price_range %></p>
<p>About: <%= restaurant.summary %></p>
<p>Maximum Reservation Size: <%= restaurant.max_reservation_size %> People</p>
<p>Opens: <%= restaurant.open_from %></p>
<p>Closes: <%= restaurant.open_until %></p>
<p>neighbourhood: <%= restaurant.neighbourhood %></p>
<p>Address: <%= restaurant.address %></p>