<div class="restaurant">
  <h2><%= link_to restaurant.name, restaurant_path(restaurant)%></h2>
  <h4><%= restaurant.cuisine %></h4>
  <%= image_tag(restaurant.image_url) %>
  <p><%= restaurant.open_time.strftime("%l:%M %p")%></p>
  <p><%= restaurant.close_time.strftime("%l:%M %p")%></p>

</div>
