<img src=<%=a_restaurant.picture%> >
<h2> Name: <%=link_to a_restaurant.name, restaurant_path(a_restaurant) %> </h2>
<h3> Summary: <%= a_restaurant.summary%> </h3>
<h3> Address: <%= a_restaurant.address%> </h3>
<h3> Neighbourhood: <%= a_restaurant.neighbourhood %> </h3>
<h3>Price Range: <%= a_restaurant.price_range %></h3>
