<div class="single_restaurant">
  <img class="picture" src="<%=a_restaurant.picture%>">
  <div class="info">
    <h2 class="name"><%=link_to a_restaurant.name, restaurant_path(a_restaurant) %> </h2>
    <h3 class="summary"> Summary: <%= a_restaurant.summary%> </h3>
    <h3 class="address"> Address: <%= a_restaurant.address%> </h3>
    <h3 class="neighbourhood"> Neighbourhood: <%= a_restaurant.neighbourhood %> </h3>
    <h3 class="price_range">Price Range: <%= a_restaurant.price_range %></h3>
    <img src="<%=a_restaurant.menu%>" style="width:500px;height:600px;"><br>
  </div>
</div>