<div class="restaurant">
  <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
  Address: <%= restaurant.address %>
  Capacity: <%= restaurant.capacity %>
  Open from : <%= restaurant.open_time %> to <%= restaurant.close_time %>
</div>
