<h1>Restaurants#edit</h1>

<% form_for @restaurant do |f|%>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :capacity %>
	<%= f.text_field :capacity%>
	<%= f.label :open_time %>
	<%= f.datetime_local_field :open_time%>
	<%= f.label :close_time %>
	<%= f.datetime_local_field :close_time%>
	<%= f.submit %>
<% end %>