<div id="myimage" class="top-head">
<!-- THIS PART IS FOR THE TOP IMAGE AND STUFF -->
<div class="main-header">
      <div class="page-header">
        <h1 id="main-title">ResturRat <small>seat yourself</small></h1>
      </div>
        <p id="motto">Resturant Reservations made easy</p>
</div>
</div>
<div class="border-block">
  <div class="container">
    “All you need is love. But a little chocolate now and then doesn't hurt.”  <em>― Charles M. Schulz</em>
  </div>
</div>

<% if flash[:success] %>
  <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
<% end %>


  <div class="container main-view-box">
      <div class="row">
        <!--- This the start of the each -->
        <% @restaurants.each do |restaurant| %>
        <div class="thumbnail view-all col-md-6">
          <% if restaurant.image_file_name.nil? %>
            <img src="http://344apz3bh6di1m0sag1etg3fxyz.wpengine.netdna-cdn.com/wp-content/uploads/2010/02/beef-roast-company.gif" class="thumb-img">
            <% else %>
            <%= image_tag restaurant.image, class: "thumb-img" %>
            <% end %>
            <div class="container view-content">
              <h3 class="main-view-title"><%= restaurant.name %></h3>
              <small class="main-view-add"><strong>Address </strong><em><%= restaurant.address %></em> </small> <br/>
              <strong>Cuisine:</strong>  <%=restaurant.cuisine.name %><br/><br/>
              <%= link_to "View More or Make Reservation", restaurant_path(restaurant), class: "btn btn-default" %>
            </div>
        </div>
        <% end %>

        <!-- this is the break of the each -->
      </div>
  </div>
</div>
