<h1> Welcome to opentable v.2</h1>

<section>
<% @restaurants.each do |restaurant| %>
  <p>
  Name: <%=link_to(restaurant.name, restaurant_path(restaurant.id))%><br>
  Address: <%=restaurant.address%><br>
  Phone: <%=restaurant.phone_number%><br>
  Total Capacity: <%=restaurant.capacity%>
  </p>
<% end %>

<%= link_to "New restaurant", new_restaurant_path %>


</section>
