<div class="title">
  <h1><a link href="/restaurants"> Welcome to SeatYourself</a></h1>
  <a href="/restaurants/new" class="button">Add a New Restaurant</a>
</div>

<%= form_tag(restaurants_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name:nil %>
<% end %>

<% @restaurants.each do |restaurant| %>
<section class="all_restaurants">
  <p>
  Name: <%=link_to(restaurant.name, restaurant_path(restaurant.id))%><br>
  Address: <%=restaurant.address%><br>
  Phone: <%=restaurant.phone_number%><br>
  Total Capacity: <%=restaurant.capacity%>
  </p>
  <p><%= link_to "Reserve", new_restaurant_reservation_url(restaurant.id) %> </p>
</section>
<% end %>
