<div class="title">
  <h1><a link href="/restaurants"> Welcome to SeatYourself</a></h1>
  <a href="/restaurants/new" class="button">Add a New Restaurant</a>
</div>

  <% @restaurants.each do |restaurant| %>
  <section class="all_restaurants">
    <p>
    Name: <a><%=link_to(restaurant.name, restaurant_path(restaurant.id))%></a><br>
    Address: <%=restaurant.address%><br>
    Phone: <%=restaurant.phone_number%><br>
    Total Capacity: <%=restaurant.capacity%>
    </p>
    <p><%= link_to "Reserve", new_restaurant_reservation_url(restaurant.id) %> </p>
  </section>
  <% end %>
