<h1>Restaurants#index</h1>
<% @restaurants. each do |restaurant| %>
	<div class="restaurant">
		<h2><%= restaurant.name%></h2>
		<h2><%= restaurant.close_time%></h2>
		<h2><%= restaurant.open_time%></h2>
		<%= link_to("view", restaurant_path(restaurant.id)) %>
	</div>
<% end %>
<%= link_to("New Restaurant", new_restaurant_path)%>
