
<div class= 'button_container'>
<li class = 'button'><a href="/restaurants/new">Add a New Restaurant</a></li>
</div>

<div class="title">
  <h1><a link href="/restaurants"> Welcome to SeatYourself</a></h1>
</div>

<div class="restaurant_index_search">


<%= form_tag(restaurants_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name:nil %>
<% end %>
</div>


<section class="all_restaurants">
<% @restaurants.each do |restaurant| %>


  <h2><%=link_to(restaurant.name, restaurant_path(restaurant.id))%><br>
    <%=link_to restaurant_path(restaurant.id) do %>
    <%= image_tag (restaurant.main_picture), :class => 'index_image'%> </h2>
    <%end%>
  <p>
  Address: <%=restaurant.address%><br>
  Phone: <%=restaurant.phone_number%><br>
  </p>
  <h4><%= link_to "Reserve", new_restaurant_reservation_url(restaurant.id) %> </h4>
  <hr>
<% end %>

</section>
