<h1>Create Your Restaurant</h1>

<%= form_for [@user, @restaurant] do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :open_time %>
    <%= f.time_field :open_time %>
  </p>

  <p>
    <%= f.label :close_time %>
    <%= f.time_field :close_time %>
  </p>

  <p>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </p>


  <%= f.submit 'Create' %>

<% end %>
