<h1><%= @restaurant.name %></h1>

    <ul class="restaurant_list">
      <li><%= @restaurant.address  %></li>
      <li><%= @restaurant.city  %></li>
      <li><%= @restaurant.price_range  %></li>
      <li><%= @restaurant.summary  %></li>
      <li><%= @restaurant.menu  %></li>
      <li><%= @restaurant.opening_hours  %></li>
      <li><%= @restaurant.capacity  %></li>
    </ul>

<h2>Reservation</h2>
<%= render partial: "reservations/form", locals: {restaurant: @restaurant, reservation: @reservation} %>
