<h1>Restaurants#show</h1>

<p>Name:  <%= @restaurant.name %> </p>
<p>Address: <%= @restaurant.address %> </p>
<p>Neighborhood:  <%= @restaurant.neighborhood %> </p>
<p>Price Range: <%= @restaurant.price_range %> </p>
<p>Summary: <%= @restaurant.summary %> </p>
<p>Menu: <%= @restaurant.menu %> </p>
 
