<h1><%= @restaurant.name %></h1>

<p>Address: <%= @restaurant.address %> </p>
<p>Neighborhood:  <%= @restaurant.neighborhood %> </p>
<p>Price Range: <%= @restaurant.price_range %> </p>
<p>Summary: <%= @restaurant.summary %> </p>
<p>Menu: <%= @restaurant.menu %> </p>

<%= link_to 'Book a Table', new_restaurant_reservation_path(@restaurant.id) %> |  <%= link_to 'See your Reservations', restaurant_reservations_path(@restaurant.id) %>
