<h1><%=@restaurant.name%></h1>


<p><strong><%= @restaurant.name %></strong>
<br><em><%= @restaurant.description %></em></p>
<p>Location : <strong><%= @restaurant.address %></strong>
<br>Hours : <strong><%= @restaurant.open %>:00 to <%= @restaurant.close %>:00</strong></p>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> | <%= link_to 'Back', restaurants_path %> 

<% if current_user %>
  <h2>Make a Reservation</h2>

<%= render 'reservations/form' %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> or <%= link_to "sign up", new_user_path %> to make a reservation.</p> 
<% end %>

<% if current_user %>
 <h2>Your Reservations</h2>

  <% @restaurant.reservations.each do |reservation| %>

  	<p>Location: <em><%= reservation.restaurant.name %></em>
  	<br>Number of Guests: <em><%= reservation.number_of_people %></em>
  	<br>Time: <em><%= reservation.hour %>:00</em>
  	<br><%= link_to "View"%> | <%= link_to "Edit"%> | <%= link_to "Delete"%></p>

  <% end %>
  <%= link_to "View All" %>

<% end %> 