
<div class="individual_restaurant">
  <h1><%= @restaurant.name%></h1>

  <%= image_tag @restaurant.main_picture %><br />
  Address: <%= @restaurant.address %> <br />
  Neighbourhood: <%= @restaurant.neighbourhood %> <br />
  Price range <%= @restaurant.price_range %>

<ul>
 <%@reservations.each do |reservation | %>
<li>
Full Name: <%= reservation.user.first_name %> <%= reservation.user.last_name %> |
Customer Phone :<%= reservation.user.phone_number %> | Party Size: <%= reservation.party_size %> |
 Reservation Date: <%= reservation.date %> | Reservation Time: <%= reservation.time %>
</li>
 <%end%>
</ul>

  <div class="menu">
    <% @restaurant.uploads.each do |upload|%>
    <%= image_tag upload %>
    <% end  %>
  </div>
  <%= link_to "Reserve", new_restaurant_reservation_url(@restaurant.id) %> |
  <%= link_to "Back to restaurants", restaurants_path %> |
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant.id) %> |
  <%= link_to "Delete", restaurant_path(@restaurant.id), method: :delete, data: {confirm: 'Are you sure you want to delete the restaurant?'} %>
</div>
