<!-- <h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p> -->
<div class="container">
<h1><%= @restaurant.name %></h1>
<%= link_to 'Edit Resturant Info', edit_restaurant_path %>
<hr>
<div class="row">
<div class="thumbnail col-md-6">
  <p>
    <strong> Address: </strong>    <br/><%= @restaurant.address %><br/>
    <strong> Phone Number:</strong>  <br/><%= @restaurant.phone_number %><br/>
    <strong> Available Seating:</strong>  <br/><%= @restaurant.seats %> seats<br/>
  </p>
  <p>
        <strong> Description:</strong><br/>
    <%= @restaurant.description%>
  </p>
</div>
<div class="col-md-6">
  <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Tom's_Restaurant,_NYC.jpg" id="rest-pic">
</div>
</div>

<%= link_to "Make an reservation for this restaurant", new_restaurant_reservation_path(@restaurant.id), class: "btn btn-success" %>
<hr>
<div class="container">
  <h3>Reviews</h3>
</div>
</div>
