<h1><%= "#{@restaurant.name.titleize}" %></h1>
<p><strong>Location: </strong><%= "   #{@restaurant.street.titleize}, #{@restaurant.city.titleize}, #{@restaurant.postal.upcase}"%></p>
<p><strong>Cuisine: </strong><%=" #{@restaurant.cuisine.titleize}" %></p>
<p><strong>Phone: </strong> <%=" #{@restaurant.phone}"%></p>
<p><strong>Hours of Operation:</strong> <%=" #{@restaurant.start_time.strftime("%l:%M %p")} - #{@restaurant.end_time.strftime("%l:%M %p")}" %></p>
<p><strong>Max Capacity:</strong><%=" #{@restaurant.capacity}" %></p>
<p><strong>About Us</strong>
<br>
<%= @restaurant.about %>
</p>

<h3><%= link_to "Make Reservation", "#{@restaurant.id}/reservations/new" %></h3>
<br>
<% if @restaurant.diner_id == current_diner.id %>

  <h3><%="#{@restaurant.name.titleize}'s Reservations"%></h3>

  <% @restaurant.reservations.each do |reser| %>
    <p><strong><%= "Reservation for #{reser.diner.name}"%></strong> <br>
      <%= "#{reser.date.strftime("%B %e, %Y")}  #{reser.date.strftime("%l:%M %p")}" %> <br>
      <%= "Party Size: #{reser.party_size}" %> <br>
        <% if reser.instructions != nil %>
          <%= "Instructions: #{reser.instructions}  " %>
        <%end%>
    </p>
  <%end%>
    <%if @restaurant.reservations.count == 0 %>
    <p><%="#{restaurant.name.titleize} currently has no reservations"%></p>
    <%end%>
<%end%>
