<%= link_'Show all restaurant', restaurants_path %>

<h1><%= @restaurant.name %></h1>

<%= render 'single_restaurant', restaurant: @restaurant %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
| <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure you want to delete the restaurant '#{@restaurant.name}'? This cannot be undone!"} %>
