<h1><%= "#{@restaurant.name.titleize}" %></h1>
<p><%= "Location: #{@restaurant.street.titleize}, #{@restaurant.city.titleize}, #{@restaurant.postal.upcase}"%></p>
<p><%= "Cuisine: #{@restaurant.cuisine.titleize}" %></p>
<p><%= "Phone: #{@restaurant.phone}"%></p>
<p><%= "Hours of Operation: #{@restaurant.start_time.strftime("%l:%M %p")} - #{@restaurant.end_time.strftime("%l:%M %p")}" %></p>
<p><%= "Max Capacity: #{@restaurant.capacity}" %></p>
<p>About Us
<br>
<%= @restaurant.about %>
</p>

<h3><%= link_to "Make Reservation", "#{@restaurant.id}/reservations/new" %></h3>
<br>
<% if @restaurant.diner_id == current_diner.id %>

  <h3><%="#{@restaurant.name.titleize}'s Reservations"%></h3>

  <% @restaurant.reservations.each do |reser| %>
    <p><%= "Reservation for #{reser.diner.name}"%> <br>
      <%= "#{reser.date}  #{reser.time}" %> <br>
      <%= "Party Size: #{reser.party_size}" %> <br>
        <% if reser.instructions != nil %>
          <%= "Instructions: #{reser.instructions}  " %>
        <%end%>
    </p>
  <%end%>
    <%if @restaurant.reservations.count == 0 %>
    <p><%="#{restaurant.name.titleize} currently has no reservations"%></p>
    <%end%>
<%end%>
