<section class="rest-info">

  <div class="rest-description">


    <h1><%= @restaurant.name %></h1>

    <p>Address:        <%= @restaurant.address %> </p>
    <p>Neighborhood:   <%= @restaurant.neighborhood %> </p>
    <p>Price Range:    <%= @restaurant.price_range %> </p>
    <p>Summary:        <%= @restaurant.summary %> </p>
    <p>Menu:           <%= @restaurant.menu %> </p>

  </div>

  <div class="book-table">
    <%= link_to 'Book a Table', new_restaurant_reservation_path(@restaurant.id) %>

    <% if logged_in? && restaurant_owner %>
    |
    <%= link_to 'All Reservations', restaurant_reservations_path(@restaurant.id) %>
    |
    <%= link_to "Edit", edit_restaurant_path%>
    | <%= link_to 'Remove Restaurant', restaurant_path, method: :delete, data:{confirm: "Are you sure you want to remove your restaurant"} %>

    <% end %>
    
  </div>

</section>
