<%= link_to "Back", restaurants_path %>
  <h1><%= @restaurant.name %></h1>
  <h3><%= @restaurant.neighbourhood %></h3>
  <h3><%= @restaurant.address %></h3>
  <h3><%= @restaurant.price_range %></h3>
  <h3><%= @restaurant.summary %></h3>
  <h3><%= @restaurant.menu %></h3>
  <h3><%= @restaurant.time_slots %></h3>

<%= link_to "Make a Reservation!", new_restaurant_reservation_path(@restaurant) %>
