<h1><%= @restaurant.name %></h1>
<p> <%= @restaurant.description %> </p>
<p>Opens at: <%= time_to_am_pm(@restaurant.open_time.localtime.hour) %> </p>
<p>Closes at: <%= time_to_am_pm(@restaurant.close_time.localtime.hour) %> </p>
<p>Price: <%= "$"*@restaurant.price %></p>

<%= link_to 'edit', edit_user_restaurant_path(current_user, @restaurant) %>

<%= render 'bookings/booking_form', restaurant: @restaurant, booking: @booking %>
