<h1><%= @restaurant.name %></h1>

<% if current_user == @restaurant.user %>
  <%= link_to "Edit", edit_restaurant_path %>   |   <%= link_to "Delete", "/restaurants/#{@restaurant.id}", method: :delete %>
<% end %>


    <ul class="restaurant_list">
      <li><%= @restaurant.address  %></li>
      <li><%= @restaurant.city  %></li>
      <li><%= @restaurant.price_range  %></li>
      <li><%= @restaurant.summary  %></li>
      <li><%= @restaurant.menu  %></li>
      <li><%= @restaurant.opening_hours  %></li>
      <li><%= @restaurant.capacity  %></li>
    </ul>
