<h1><%= @restaurant.name %></h1>

<% if current_user == @restaurant.user %>
  <%= link_to "Edit", edit_restaurant_path(@restaurant) %>   |   <%= link_to "Delete", "/restaurants/#{@restaurant.id}", method: :delete %>
<% end %>


<div class="restaurant_show">
    <ul class="restaurant_list">
      <p> <%= @restaurant.name %>
      <p> Address: <%= @restaurant.address  %></p>
      <p> City:<%= @restaurant.city  %></p>
      <p> Price Range: <%= @restaurant.price_range  %></p>
      <p> Summary <%= @restaurant.summary  %></p>
      <p> Menu:<%= @restaurant.menu  %></p>
      <p> Opening Hours<%= @restaurant.opening_hours  %></p>
      <p> Closing Hours<%= @restaurant.closing_hours  %></p>
      <p> Capacity <%=@restaurant.capacity %> </p>
    </ul>
  </div>

<h2>Reservation</h2>
<% if current_user %>
<%= render partial: "reservations/form", locals: {restaurant: @restaurant, reservation: @reservation} %>
<% else %>
    <p> If you want to book a table at this restaurant please <%= link_to 'Log In', new_session_path %> </p>
<% end %>
