<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <!-- we only want to show this link if the user is logged in -->
      <% if logged_in? %>
        <li>
          <%= link_to 'Add a restaurant', new_restaurant_path %>
        </li>
        <li>
          <%= link_to "(#{current_user.name}) Log Out", session_path(current_user), method: :delete  %>
        </li>

      <%else %>
      <!-- else we show the visitor the signup and login page -->
        <li>
          <%= link_to "Sign Up", new_user_path %>
        </li>
        <li>
          <%= link_to "Log in", new_session_path%>
        </li>
      <% end %>
    </ul>
  </nav>

<%= yield %>

  <footer>

    <h2>TEAM:</h2>

    <section class="creator">
      <div class="info">
        <h3>ANTONIO </h3>
        <%= link_to "Linkedin", "https://www.linkedin.com/in/antoniomanzanares/", :target => "_blank" %>
      </div>

      <div class="info">
        <h3>DENIS</h3>
        <%= link_to "Linkedin", "https://www.linkedin.com/in/denis-sanchez-dujota-a717336b/", :target => "_blank" %>
      </div>

      <div class="info">
        <h3>LAN PHAN</h3>
        <%= link_to "Linkedin", "https://www.linkedin.com/in/lancphan/", :target => "_blank" %>
      </div>

    </section>

  </footer>

</body>
</html>
