<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
  Seat Yourself | <%= link_to 'Restaurants', restaurants_path %> | <%if current_user%> Hello, <%=current_user.name%> | <%= link_to "Log out", session_path('0'), :method => :delete %> <%else%> <%=link_to 'Log in', new_session_path %> | <%= link_to "Sign up", new_user_path%> <%end%> |



  </nav>

  <main>
    <h1>HI MALCOM</h1>
    <%= yield %>
  </main>
</body>
</html>
