<!DOCTYPE html>
<html>
<head>
  <title>Mister Tee Table Tagger</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<nav class="nav_bar_top">
  <ul class="nav_bar_item"
  <% if current_user %>
    <li><%= link_to "Logout", session_path, method: :delete, :class => "nav-link" %></li>
    <li><%= link_to "New Restaurant", new_restaurant_path, :class => "nav-link" %></li>
    <li><%= link_to "Home", restaurants_path, :class => "nav-link" %></li>
    <li><%= link_to "Profile", user_url(session[:user_id]) %></li>
  <% else %>
    <li><%= link_to "Signup", new_user_path, :class => "nav-link" %></li>
    <li><%= link_to "Sign In", new_session_path, :class => "nav-link" %></li>
    <li><%= link_to "Restaurants", restaurants_path,  :class => "nav-link" %></li>
  <% end %>
</ul>
</nav>
<header>
    <%= image_tag('Mister-t.png', class: "main_banner") %>
</header>

<body>

<%= yield %>

</body>
</html>
