<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
</head>
<body>
  <header>
  <%= link_to restaurants_path do %>
    <span class="logo"><img src="/assets/plate-fork-and-knife.svg" class="svg"> Seat Yourself</span>
  <% end %>
    <nav class="nav">
      <% if current_user %> Hello, <%=current_user.name%> | <%=link_to 'Profile', users_path %> | <%= link_to "Log out", sessions_path('0'), :method => :delete %>
      <%else%> <%=link_to 'Log in', new_sessions_path %> | <%= link_to "Sign up", new_user_path%> <%end%>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
  </footer>
</body>
</html>
