<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if flash[:notice] %>
      <ul>
        <% flash[:notice].each do |notice| %>
          <li><%= notice %></li>
        <% end %>
    <% elsif flash[:alert] %>
      <p>An error has occurred!</p>
      <ul>
        <% flash[:alert].each do |alert| %>
          <li><%= alert %></li>
        <% end %>
      </ul>
    <% end %>
    <nav>

      <%= link_to "Home", restaurants_path %>

      <% if current_user %>
        Signed in as <%= current_user.email %>
        <%= link_to "My Profile", user_path(current_user) %>
        <%= link_to "My Bookings", user_bookings_path(current_user) %>
        <%= link_to "Logout", session_path("current"), method: :delete %>
      <% else %>
        <%= link_to "Login", new_session_path %>
        <%= link_to "Sign Up", new_user_path%>
    </nav>  
    <% end %>

  </header>


<%= yield %>

</body>
</html>

<%= console %>
